@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';
.section {
  @extend %section;
}
.container {
  @extend %sectionContainer;
}
.listText {
  margin-bottom: 30px;
  @include mq(tab) {
    margin-bottom: 57px;
  }
}
.textContainer {
  color: getColor('text');

  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 24px;
  @include mq(tab) {
    font-size: 20px;
    text-indent: 40px;
  }
  @include mq(desk) {
    font-size: 24px;
    line-height: 1.42;
    text-indent: 50px;
  }
}
.textContainer:not(:last-child) {
  margin-bottom: 30px;
  @include mq(tab) {
    margin-bottom: 57px;
  }
}

.textTitle {
  position: relative;
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  text-indent: 0;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
  @include mq(tab) {
    margin-bottom: 57px;
    font-size: 24px;
  }
}
.staffContainer {
  @include flexed(flex-start);
  flex-wrap: wrap;
  row-gap: 16 px;
  @include mq(tab) {
    row-gap: 57px;
  }
}
.staffItem {
  width: 300px;
  padding: 10px;
}
.imageWrapper {
  position: relative;

  width: 280px;
  height: 280px;
  margin-bottom: 10px;

  border-radius: 60px 60px 60px 0px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
.staffTitle {
  position: relative;
  margin: 19px;
  color: getColor('text');
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
}
.information {
  margin-bottom: 10px;

  color: getColor('text');

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}
