@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.text {
  position: absolute;
  left: 10px;
  top: 80px;

  width: 700px;

  color: getColor('intro-forest');

  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0em;
  text-align: center;
  transform: translateX(-150%);

  transition: transform 10ms ease-in;
  z-index: 200;
  @include mq(tab) {
    top: 270px;
    width: 1100px;
    font-size: 32px;
    line-height: 2.5;
  }
  @include mq(desk) {
    left: -100px;
    top: 164px;

    width: 2100px;

    font-size: 64px;
    line-height: 1.5;
  }
}
.animationText {
  position: absolute;
  left: 10px;
  top: 80px;

  width: 700px;

  color: getColor('intro-forest');

  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0em;
  text-align: center;
  transition: transform 4s cubic-bezier(0.6, 2.4, 0.4, 0.2) 1s;
  transform: translateX(0) !important;
  z-index: 200;

  @include mq(tab) {
    top: 270px;
    width: 1100px;
    font-size: 32px;
    line-height: 2.5;
  }
  @include mq(desk) {
    left: -100px;
    top: 164px;

    width: 2100px;

    font-size: 64px;
    line-height: 1.5;
  }
}
.container {
  position: relative;
  z-index: 300;
  @include mq(mob-only) {
    max-width: 640px;
  }
  @include mq(tab) {
    width: 648px;
  }
  @include mq(desk) {
    width: 820px;
  }
}

.sign {
  color: getColor('white');
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: right;

  transform: scale(0);

  transition: transform 10ms ease-in;
  @include mq(tab) {
    font-size: 48px;
  }
  @include mq(desk) {
    font-size: 64px;
  }
}
.signVisible {
  color: getColor('white');
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: right;

  transform: scale(1);

  transition: transform 4s cubic-bezier(0.6, 2.4, 0.4, 0.2) 10s;
  @include mq(tab) {
    font-size: 48px;
  }
  @include mq(desk) {
    font-size: 64px;
  }
}
