@import 'styles/_global-vars.scss';

.text {
  position: absolute;
  left: -100px;
  top: 164px;

  width: 2100px;

  color: getColor('intro-forest');

  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  text-align: center;
  z-index: 200;
}
