@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.section {
  padding: 96px 60px;
  background-color: getColor('white');
  @include mq(bigDesk) {
    padding: 96px;
  }
}

.container {
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
}
.textContainer {
  margin-bottom: 57px;

  color: getColor('text');

  font-size: 20px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 40px;
  @include mq(desk) {
    font-size: 24px;
    text-indent: 50px;
  }
}
.tilesLayout {
  @media screen and (min-width: 1079.98px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(479px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(479px, 1fr));
  }
}

.infoBlock {
  padding: 24px 0;
  @media screen and (min-width: 1079.98px) {
    @include flexed(null, center);
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0 24px;
  }

  @include mq(desk) {
    padding: 0 36px;
  }
}
.infoTitle {
  position: relative;
  margin-bottom: 32px;
  color: getColor('text');
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
  @media screen and (min-width: 1079.98px) {
    margin-bottom: 20px;
  }
  @include mq(desk) {
    margin-bottom: 48px;
  }
}
.list {
  @include flexed(flex-start);
  flex-direction: column;
  gap: 12px;

  color: getColor('text');

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0em;
  text-align: left;
}

.itemAddress {
  @include flexed(center, flex-start);
  gap: 12px;
}
.circleLoc {
  @extend %circle;

  background-image: getIcon('circle');
}
.location {
  @extend %iconSmall;

  background-image: getIcon('location-contacts');
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 52px;
    bottom: 7px;
    width: 0;
    height: 1px;
    background-color: getColor('text');
    transition: width getAnimation('animation');
  }

  & .circle {
    @extend %circle;
    background-image: getIcon('circle');

    margin-right: 12px;

    transition: background-image getAnimation('animation');
    & .email {
      @extend %iconSmall;

      background-image: getIcon('email-contacts');
    }
    & .phone {
      @extend %iconSmall;
      background-image: getIcon('phone-contacts');
    }
    & .telegram {
      @extend %iconSmall;
      background-image: getIcon('telegram-contacts');
    }
    & .facebook {
      @extend %iconSmall;
      background-image: getIcon('facebook-contacts');
    }
    & .instagram {
      @extend %iconSmall;
      background-image: getIcon('instagram-contacts');
    }
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;

      width: calc(100% - 52px);
    }
    & .circle {
      background-image: getIcon('circle-hover');
    }
  }
}
.imageWrapperUp {
  position: relative;
  border-radius: 60px 60px 60px 0;
  padding: 0 0 100% 0;
  overflow: hidden;
  @media screen and (max-width: 1079.98px) {
    border-radius: 60px 60px 0 60px;
    height: 200px;
    padding: 0;
  }
}

.imageBlockUp {
  object-fit: cover;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.imageWrapperDown {
  position: relative;
  border-radius: 60px 0 60px 60px;
  padding: 0 0 100% 0;
  overflow: hidden;
  @media screen and (max-width: 1079.98px) {
    border-radius: 60px 60px 0 60px;
    height: 200px;
    padding: 0;
  }
}
.imageBlockDown {
  object-fit: cover;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
