@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';
@import 'styles/_mixins.scss';

.item {
  overflow: hidden;
  transition: box-shadow getAnimation('animation'),
    transform getAnimation('animation');
  &:hover,
  :focus {
    box-shadow: getShadow('instagram-shadow');
    transform: scale(1.05);
    z-index: 320;
  }
}

.imageWrapper {
  position: relative;
  padding: 0 0 100% 0;
}
.image {
  object-fit: cover;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 300;
}
.iconVideo {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 24px;
  font-weight: 600;
  z-index: 350;
  color: aliceblue;
}
