@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  padding: 40px 30px;

  @include mq(tab-only) {
    padding: 40px 60px;
  }
  border-top: 1px solid getColor('primary');
  @include mq(desk) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 18px 60px;
  }

  @include mq(bigDesk) {
    padding: 18px 96px;
  }
}
@include mq(tab-only) {
  .firstFooterList {
    @include flexed(center, space-between);
  }
  .secondFooterList {
    @include flexed(center, space-around);
    & li {
      width: 196px;
    }
  }
}
.list {
  @include mq(tab) {
  }
}

@include mq(mob-only) {
  // .firstFooterList {
  //   @include flexed(center, space-between);
  //   flex-wrap: wrap;
  // }
  .footerBlockFirst:nth-child(1),
  .footerBlockFirst:nth-child(2),
  .firstFooterList {
    margin-bottom: 30px;
  }
}

.item {
  color: getColor('white');

  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0em;
  text-align: left;
  @include mq(desk) {
    font-size: 14px;
  }

  @include mq(bigDesk) {
    font-size: 16px;
  }
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 52px;
    bottom: 9px;
    width: 0;
    height: 1px;
    background-color: getColor('border-hover-footer');
    transition: width getAnimation('animation');
  }

  & .circle {
    @extend %circle;
    background-image: getIcon('circle-footer');

    margin-right: 8px;

    transition: background-image getAnimation('animation');

    @include mq(bigDesk) {
      margin-right: 12px;
    }
    & .email {
      @extend %iconSmall;

      background-image: getIcon('email-footer');
    }
    & .phone {
      @extend %iconSmall;
      background-image: getIcon('phone-footer');
    }
    & .telegram {
      @extend %iconSmall;
      background-image: getIcon('telegram-footer');
    }
    & .facebook {
      @extend %iconSmall;
      background-image: getIcon('facebook-footer');
    }
    & .instagram {
      @extend %iconSmall;
      background-image: getIcon('instagram-footer');
    }
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;

      width: calc(100% - 52px);
    }
    & .circle {
      background-image: getIcon('circle-hover-footer');
    }
  }
}
// .logoWrapper {
//   @include mq(mob-only) {
//     @include flexed();
//     max-width: 707px;
//     // margin: 0 auto;
//   }
// }
.logo {
  display: block;
  width: 146px;
  height: 120px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: getIcon('logo-footer');

  transition: background-image getAnimation('animation');
  @include mq(mob-only) {
    margin: 0 auto;
  }
  @include mq(tab) {
    width: 98px;
    height: 80px;
    background-image: getIcon('logo-footer-tablet');
  }
  @include mq(desk) {
    width: 175px;
    height: 160px;

    background-image: getIcon('logo-footer');
  }
  @include mq(bigDesk) {
    width: 195px;
  }

  &:hover {
    background-image: getIcon('logo-hover-footer');
  }
}
.navItem {
  padding: 9px 0;
  color: getColor('white');

  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: left;
  @include mq(desk) {
    font-size: 14px;
  }

  @include mq(bigDesk) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.navLink {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 0;
    height: 1px;

    background-color: getColor('white');

    transition: width getAnimation('animation');
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.active {
  position: relative;
  display: inline-flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 1px;

    background-color: getColor('white');
  }
}
