@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  position: fixed;
  @include flexed(flex-end, flex-start);
  flex-direction: column;
  gap: 40px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 30px 20px;
  z-index: 800;

  background-color: getColor('white');
  transform: translate3D(0, -150%, 0px);
  transition: transform getAnimation('animation-header-menu');
  @include mq(tab) {
    gap: 60px;
    padding: 140px 60px 40px;
  }

  @include mq(desk) {
    display: none;
  }
}
.visibleContainer {
  position: fixed;
  @include flexed(flex-end, flex-start);
  flex-direction: column;
  gap: 40px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 30px 20px;
  z-index: 800;
  transition: transform getAnimation('animation-header-menu');
  background-color: getColor('white');
  transform: translateY(0, 0, 0px);

  @include mq(tab) {
    padding: 140px 60px 40px;
    gap: 60px;
  }
  @include mq(desk) {
    display: none;
  }
}
.contactsWrapper {
  @include flexed(flex-end, flex-start);
  flex-direction: column;
  gap: 4px;

  color: getColor('primary');

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  @include mq(tab) {
    gap: 12px;
  }
}

.link {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: default;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 0;
    height: 1px;
    background-color: getColor('primary');
    transition: width getAnimation('animation');
  }

  & .circle {
    @extend %circle;
    background-image: getIcon('circle');

    margin-left: 12px;

    transition: background-image getAnimation('animation');
    & .email {
      @extend %iconSmall;

      background-image: getIcon('email-contacts');
    }
    & .phone {
      @extend %iconSmall;
      background-image: getIcon('phone-contacts');
    }
  }
  &:hover {
    &::after {
      content: '';
      position: absolute;

      width: calc(100% - 52px);
    }
    & .circle {
      background-image: getIcon('circle-hover');
    }
  }
}
