@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.form {
  @include flexed();
  flex-direction: column;
  gap: 12px;
  padding: 44px 36px;
}
.title {
  position: relative;
  padding-bottom: 32px;
  color: getColor('text');

  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;

    background-color: getColor('secondary');
  }
}
.wrapperInput {
  position: relative;
  width: 100%;
}
.input {
  @extend %input;
  height: 64px;
  &::placeholder {
    color: getColor('input-placeholder');
  }
  &:focus + .inputIcon {
    background-image: getIcon('input-focus');
  }
}
.inputError {
  @extend %input;
  height: 64px;
  border-color: getColor('input-error');
  &::placeholder {
    color: getColor('input-placeholder');
  }
}
.wrapperTextarea {
  position: relative;
  width: 100%;
  height: 122px;
}
.textarea {
  @extend %input;
  height: 122px;
  &::placeholder {
    color: getColor('input-placeholder');
  }
  &:focus + .inputIcon {
    background-image: getIcon('input-focus');
  }
}
.textareaError {
  @extend %input;
  height: 122px;
  border-color: getColor('input-error');
  &::placeholder {
    color: getColor('input-placeholder');
  }
}
.inputIcon {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-circle');
}
.inputIconError {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-error');
}
.inputIconOk {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-ok');
}

.textarea + .inputIcon {
  top: 32px;
}
.textareaIconOk {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-ok');
  top: 32px;
}
.textareaIconError {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-error');
  top: 32px;
}
.wrapperBtn {
  margin-left: auto;
  width: 243px;
  border-color: #5f391880;
}
.formBtn {
  width: 235px;
  outline: none;
}

.error {
  @extend %inputTextError;
}
