@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.form {
  @include flexed();
  flex-direction: column;
  gap: 12px;
  padding: 24px 0 0;

  @media screen and (min-width: 1079.98px) {
    gap: 8px;
    padding: 0 16px;
  }

  @include mq(desk) {
    padding: 0 36px;
    gap: 12px;
  }
}
.title {
  position: relative;
  margin-bottom: 24px;
  color: getColor('text');

  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;

    transform: translateX(-50%);
    width: 80px;
    height: 2px;

    background-color: getColor('secondary');
  }
  @include mq(tab) {
    font-size: 24px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1079.98px) {
    margin-bottom: 12px;
  }
  @include mq(desk) {
    margin-bottom: 32px;
  }
}
.wrapperInput {
  position: relative;
  width: 100%;
}
.input {
  @extend %input;
  height: 44px;
  @include mq(tab) {
    height: 64px;
  }

  &:focus + .inputIcon {
    background-image: getIcon('input-focus');
  }
}
.inputError {
  @extend %input;
  height: 44px;
  border-color: getColor('input-error');

  @include mq(tab) {
    height: 64px;
  }
}
.wrapperTextarea {
  position: relative;
  width: 100%;
  height: 122px;
}
.textarea {
  @extend %input;
  font-family: '__Raleway_5db79f', '__Raleway_Fallback_5db79f';
  &:focus + .inputIcon {
    background-image: getIcon('input-focus');
  }
}
.textareaError {
  @extend %input;
  font-family: '__Raleway_5db79f', '__Raleway_Fallback_5db79f';
  height: 122px;
  border-color: getColor('input-error');
}
.inputIcon {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-circle');
}
.inputIconError {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-error');
}
.inputIconOk {
  @extend %inputIcon;

  @extend %icon;
  background-image: getIcon('input-ok');
}

.textarea + .inputIcon {
  top: 22px;
  @include mq(tab) {
    top: 32px;
  }
}
.textareaIconOk {
  @extend %inputIcon;

  @extend %icon;
  top: 22px;
  background-image: getIcon('input-ok');
  @include mq(tab) {
    top: 32px;
  }
}
.textareaIconError {
  @extend %inputIcon;
  top: 22px;
  @extend %icon;
  background-image: getIcon('input-error');
  @include mq(tab) {
    top: 32px;
  }
}

.error {
  @extend %inputTextError;
}
