@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.container {
  width: 1200px;
  background-color: getColor('white');
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}
.contentWrapper {
  @include flexed(null, null);
  flex-direction: column;
  text-indent: 50px;
}
.name {
  margin-bottom: 20px;

  position: relative;
  color: getColor('text');

  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
}

.nameWithoutSize {
  margin-bottom: 40px;

  position: relative;
  color: getColor('text');

  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
}
.size {
  margin-bottom: 30px;

  color: getColor('text');

  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
}
.textContainer {
  color: getColor('text');

  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 50px;
}
.textContainer p:not(:last-child),
.textContainer li:not(:last-child),
.textContainer ul:not(:last-child) {
  margin-bottom: 20px;
}

.textContainer ul {
  list-style: inside;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}
