@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.section {
  @extend %section;
}
.container {
  @extend %sectionContainer;
}
.contentWrapper {
  @include flexed(null, null);
  flex-direction: column;
}
.name {
  margin-bottom: 40px;

  position: relative;
  color: getColor('text');

  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }

  @include mq(desk) {
    font-size: 32px;
  }
}

.nameWithoutSize {
  margin-bottom: 40px;

  position: relative;
  color: getColor('text');

  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
  @include mq(desk) {
    font-size: 32px;
  }
}
.size {
  margin-bottom: 40px;

  color: getColor('text');

  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  @include mq(desk) {
    font-size: 24px;
  }
}
.textContainer {
  color: getColor('text');

  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  text-align: left;
  text-indent: 24px;
  @include mq(tab) {
    font-size: 20px;
    text-indent: 40px;
  }
  @include mq(desk) {
    font-size: 24px;
    text-indent: 50px;
  }
}
.textContainer p:not(:last-child),
.textContainer li:not(:last-child),
.textContainer ul:not(:last-child) {
  margin-bottom: 20px;
}

.textContainer ul {
  list-style: inside;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  margin-top: 50px;
  @include mq(tab) {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
  }
}
