@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.wrapperBtn {
  @include flexed(center, flex-end);
  width: 145px;

  border-left: 1px solid getColor('secondary');
  color: getColor('primary');
  @include mq(tab) {
    width: 169px;
  }
}
.btn {
  @include flexed();
  gap: 12px;

  color: getColor('text');

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

  cursor: pointer;
}

.menuIconOpen {
  @extend %icon;
  width: 40px;
  height: 40px;
  background-image: getIcon('menu-button');
}
.menuIconClose {
  @extend %icon;
  width: 40px;
  height: 40px;
  background-image: getIcon('close-instagram-modal');
}
