%circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: contain;
}
%icon {
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: contain;
}
%iconSmall {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;
}

%container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 96px;
  padding-right: 96px;
}
%input {
  width: 100%;

  padding: 20px 30px 20px 54px;
  border-radius: 32px 0px 69px 32px;
  border: 1px solid getColor('secondary');
  outline: none;

  color: getColor('input-text');
  font-family: '__Raleway_d01744', '__Raleway_Fallback_d01744';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}
%inputAdmin {
  width: 100%;
  margin-top: 5px;
  padding: 8px 35px;
  border-radius: 60px 32px 32px 0px;
  border: 1px solid getColor('secondary');
  outline: none;

  color: getColor('input-text');
  font-family: '__Raleway_d01744', '__Raleway_Fallback_d01744';
  font-size: 18px;
  font-weight: 100;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

%inputIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

%inputTextError {
  position: absolute;
  left: 80px;
  bottom: -8px;
  padding: 0 3px;
  background-color: getColor('white');

  color: getColor('input-error');

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}
%adminWrapperImage {
  position: relative;
  margin-top: 10px;
}
%adminWrapperImageBefore {
  @extend %adminWrapperImage;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient');
  }
}
%adminWrapperImageForestBefore {
  @extend %adminWrapperImage;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient-forest');
  }
}
