%circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-repeat: no-repeat;
  background-size: contain;
}
%icon {
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: contain;
}
%iconSmall {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;
}

%container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 96px;
  padding-right: 96px;
}
%input {
  width: 100%;

  padding: 20px 30px 20px 54px;
  border-radius: 32px 0px 69px 32px;
  border: 1px solid getColor('secondary');
  outline: none;

  color: getColor('input-text');
  font-family: '__Raleway_d01744', '__Raleway_Fallback_d01744';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

%inputIcon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
%wrapperMainButton {
  @include flexed();

  height: 82px;
  padding: 4px;
  border-radius: 41px 0px 78px 41px;

  border: 1px solid;

  transition: border-color getAnimation('animation');
  &:hover {
    border-color: getColor('secondary');
  }
}
%mainButton {
  height: 74px;
  padding: 25px 50px 25px 50px;
  border-radius: 37px 0px 74px 37px;
  gap: 10px;
  background-color: getColor('secondary');
  color: getColor('white');

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;

  transition: background-color getAnimation('animation');

  &:hover {
    background-color: getColor('primary');
  }
}

%inputTextError {
  position: absolute;
  left: 80px;
  bottom: -8px;
  padding: 0 3px;
  background-color: getColor('white');

  color: getColor('input-error');

  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}