@import 'styles/_mixins.scss';
.imageContainer {
  @include flexed();
  max-width: 90vw;

  max-height: 90vh;
}
.imageWrapper {
  position: relative;

  padding: 0 0 100% 0;
  width: 400px;

  @include mq(tab) {
    width: 600px;
  }

  @include mq(desk) {
    width: 800px;
  }
}
.image {
  object-fit: cover;
}
