@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.langContainer {
  @include flexed(null, null);
  gap: 12px;
  width: 169px;

  color: getColor('primary');

  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;

  @include mq(desk) {
    padding-left: 24px;

    border-left: 1px solid getColor('secondary');
    color: getColor('primary');
  }
}
.footerLangContainer {
  @include flexed(center, flex-start);
  gap: 10px;

  color: getColor('white');

  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}

.circle {
  @include flexed();
  @extend %circle;

  transition: background-image getAnimation('animation');
  background-image: getIcon('circle');

  &:hover {
    background-image: getIcon('circle-hover');
  }
}
.footerCircle {
  @include flexed();
  @extend %circle;

  background-image: getIcon('circle-footer');
  transition: background-image getAnimation('animation');

  &:hover {
    background-image: getIcon('circle-hover-footer');
  }
}
.activeHeader {
  @include flexed();
  @extend %circle;
  background-image: getIcon('circle-hover');
}
.activeFooter {
  @include flexed();
  @extend %circle;

  background-image: getIcon('circle-hover-footer');
}
