@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.title {
  position: absolute;
  left: -130px;

  color: getColor('hero-contacts');

  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  z-index: 600;
  white-space: nowrap;
  transform: translate3D(-150%, 0, 0px);

  transition: transform 1s ease-in;
  @include mq(tab) {
    left: -60px;
    font-size: 200px;
    z-index: 200;
  }
  @include mq(desk) {
    left: -100px;
    font-size: 280px;
  }
  @include mq(bigDesk) {
    font-size: 300px;
  }
}
.animationTitle {
  position: absolute;
  left: -130px;

  color: getColor('hero-contacts');

  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  z-index: 500;
  white-space: nowrap;
  transition: transform 4s cubic-bezier(0.6, 2.4, 0.4, 0.2) 1s;
  transform: translate3D(0, 0, 0px) !important;
  @include mq(tab) {
    left: -60px;
    font-size: 200px;
    z-index: 200;
  }
  @include mq(desk) {
    left: -100px;
    font-size: 280px;
  }
  @include mq(bigDesk) {
    font-size: 300px;
  }
}
