.form {
  width: 600px;
}

.label {
  display: block;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  padding: 4px 8px;
  outline: none;
}
.inputImage {
  display: none;
}
.image {
  margin-top: 5px;
}
.button {
  width: 150px;
  padding: 8px 0;
  border: 1px solid black;
  &:hover {
    background-color: yellow;
  }
  &:active {
    background-color: pink;
  }
}
.textarea {
  display: none;
}
.wrapperSunEditor {
  font-size: 24px;
  margin-top: 5px;
}
