@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.socialContainer {
  @include flexed(null, null);

  width: 169px;

  padding-right: 24px;
  border-right: 1px solid getColor('secondary');
}
.item {
  &:not(:last-child) {
    margin-right: 12px;
  }
}
.circle {
  @extend %circle;
  background-image: getIcon('circle');
  transition: background-image getAnimation('animation');

  &:hover {
    background-image: getIcon('circle-hover');
  }
}

.telegram {
  @extend %icon;

  background-image: getIcon('telegram');
}

.instagram {
  @extend %icon;

  background-image: getIcon('instagram');
}
.facebook {
  @extend %icon;

  background-image: getIcon('facebook');
}
