@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.socialContainer {
  @include flexed(center, space-between);

  width: 144px;
  @include mq(mob-only) {
    margin-bottom: 16px;
  }

  @include mq(tab) {
    @include flexed(null, null);
    gap: 14px;
    width: 169px;

    padding-right: 24px;
    border-right: 1px solid getColor('secondary');
  }
}

.circle {
  @extend %circle;
  background-image: getIcon('circle');
  transition: background-image getAnimation('animation');
  cursor: default;
  &:hover {
    background-image: getIcon('circle-hover');
  }
  @include mq(desk) {
    cursor: pointer;
  }
}

.telegram {
  @extend %icon;

  background-image: getIcon('telegram');
}

.instagram {
  @extend %icon;

  background-image: getIcon('instagram');
}
.facebook {
  @extend %icon;

  background-image: getIcon('facebook');
}
