@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.wrapperBtn {
  @include flexed();

  height: 82px;
  padding: 4px;
  border-radius: 41px 0px 78px 41px;

  border: 1px solid;

  transition: border-color getAnimation('animation');
  @include mq(desk) {
    &:hover {
      border-color: getColor('secondary') !important;
    }
  }
}
.btn {
  height: 74px;
  padding: 8px 12px;
  border-radius: 37px 0px 74px 37px;

  background-color: getColor('secondary');
  color: getColor('white');

  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;

  transition: background-color getAnimation('animation');

  @include mq(desk) {
    &:hover,
    &:focus {
      background-color: getColor('primary');
    }
    padding: 25px 12px 25px 12px;
    font-size: 20px;
    cursor: pointer;
  }
}
