@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 500;
  @include flexed(center, space-between);

  background-color: getColor('white');

  padding-right: 60px;
  padding-left: 60px;

  box-shadow: 0px 0px 4px 0px #00000040;

  @include mq(bigDesk) {
    padding-right: 96px;
    padding-left: 96px;
  }
}
