@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  background-color: getColor('white');
  padding-right: 30px;
  padding-left: 30px;

  box-shadow: 0px 0px 4px 0px #00000040;
  @include mq(tab) {
    padding-right: 60px;
    padding-left: 60px;
  }
  @include mq(bigDesk) {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.container {
  @extend %container;
}
.wrapper {
  @include flexed(center, space-between);
}
