@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.label {
  @extend %adminLabel;
}

.wrapperSunEditor {
  width: 850px;
  margin-top: 5px;
}
.wrapperBtn {
  @include flexed(center, space-around);
}

.button {
  display: block;
  width: 150px;
  padding: 8px 0;
  border: 1px solid black;
  &:hover {
    background-color: yellow;
  }
  &:active {
    background-color: pink;
  }
}
