@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.section {
  padding: 12px 30px;

  @include mq(tab) {
    padding: 12px 60px;
  }
  @include mq(bigDesk) {
    padding: 18px 96px;
  }
}

.copyright {
  @extend %container;

  @include mq(tab) {
    @include flexed(center, space-between);
  }
}
.text {
  color: getColor('white');

  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0em;

  text-transform: uppercase;
  @include mq(mob-only) {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @include mq(tab) {
    font-size: 16px;
  }
  @include mq(bigDesk) {
    font-size: 18px;
  }
}
