@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.copyright {
  @include flexed(center, space-between);

  padding: 12px 96px;

  background-color: getColor('primary');
}
.text {
  color: getColor('white');

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;

  text-transform: uppercase;
}
