@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';

.form {
  max-width: 950px;
}

.label {
  @extend %adminLabel;
}

.input {
  @extend %adminInput;
}
.textarea {
  @extend %adminInput;
  height: 150px;
  resize: none;
}
.inputImage {
  display: none;
}
.wrapperImageDesktop {
  @extend %adminWrapperImage;
  width: 950px;
  height: 495px;
}
.wrapperImageDesktopBefore {
  @extend %adminWrapperImageForestBefore;
  width: 950px;
  height: 495px;
}
.wrapperImageTablet {
  @extend %adminWrapperImage;
  width: 700px;
  height: 565px;
}
.wrapperImageTabletBefore {
  @extend %adminWrapperImageForestBefore;
  width: 700px;
  height: 565px;
}
.wrapperImageMobile {
  @extend %adminWrapperImage;
  width: 510px;
  height: 425px;
}
.wrapperImageMobileBefore {
  @extend %adminWrapperImageForestBefore;
  width: 510px;
  height: 425px;
}

.image {
  object-fit: cover;
}
.button {
  width: 150px;
  padding: 8px 0;
  border: 1px solid black;
  &:hover {
    background-color: yellow;
  }
  &:active {
    background-color: pink;
  }
}
.wrapperCKEditor {
  margin-top: 5px;
}
