@import 'styles/_global-vars.scss';

.container {
  max-width: 1200px;
  background-color: getColor('white');
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
