@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.videoContainer {
  @include flexed();
  height: 85vh;
}

.imageContainer {
  @include flexed();
  max-height: calc(100vh - 50px);
  max-width: 60vw;
}
.videoWrapper {
  position: relative;

  height: 100%;
}
.video {
  height: 100%;
  display: block;
}
.imageWrapper {
  position: relative;
}
.image {
  object-fit: scale-down;
  width: auto;
  max-height: 90vh;
}

.textWrapper {
  @include flexed(flex-start);
  width: 600px;
  padding: 10px 50px 10px 50px;
}
