@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.label {
  @extend %adminLabel;
}

.wrapperCKEditor {
  width: 850px;
  margin-top: 5px;
  text-indent: 25px;
}
.wrapperBtn {
  @include flexed(center, space-around);
}
