@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed(flex-start, space-between);
  flex-direction: column;
}
.wrapperBtn {
  width: 350px;
  border-color: getColor('hero-border');
}
.btn {
  width: 340px;
}
