@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed(center, space-between);

  // max-width: 1920px;

  padding-right: 96px;
  padding-left: 96px;

  font-family: '__Raleway_5db79f', '__Raleway_Fallback_5db79f';

  background-color: getColor('white');
}
