@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed(center, space-between);

  background-color: getColor('white');

  padding-right: 60px;
  padding-left: 60px;

  @include mq(bigDesk) {
    padding-right: 96px;
    padding-left: 96px;
  }
}
