@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.nav {
  @include flexed(center, null);
  gap: 36px;

  color: getColor('primary');

  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  list-style: none;
}
.link {
  padding-top: 30px;
  padding-bottom: 30px;
}
.active {
  padding-top: 2px;
  padding-bottom: 2px;

  border-bottom: 2px solid getColor('secondary');
}
.logo {
  width: 98px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 5px;

  background-image: getIcon('logo-header');
  background-repeat: no-repeat;
  background-size: contain;
}
