@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.nav {
  @include flexed(flex-end);
  flex-direction: column;
  gap: 24px;

  color: getColor('primary');

  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;

  text-transform: uppercase;
  list-style: none;

  @include mq(desk) {
    @include flexed();
    flex-direction: row;
    gap: 28px;

    font-size: 18px;
  }

  @include mq(bigDesk) {
    font-size: 20px;
  }
}

.link {
  position: relative;
  @include mq(tab-only) {
    padding-bottom: 2px;
  }
  @include mq(desk) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: getColor('secondary');

    transition: width getAnimation('animation');
    @include mq(desk) {
      bottom: 28px;
    }
  }

  &:hover {
    &::after {
      content: '';
      position: absolute;

      width: 100%;
    }
  }
}
.active {
  padding-bottom: 0;
  border-bottom: 2px solid getColor('secondary');
  @include mq(desk) {
    padding-top: 2px;
  }
}
.logo {
  display: block;
  width: 98px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: getIcon('logo-header');
  background-repeat: no-repeat;
  background-size: contain;

  transition: background-image getAnimation('animation');
  @include mq(desk) {
    width: 90px;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  @include mq(bigDesk) {
    width: 98px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &:hover {
    background-image: getIcon('logo-header-hover');
  }
}
