.nav {
  display: flex;
  gap: 36px;
  align-items: center;
  color: #5f3918;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 28px */
  text-transform: uppercase;
  list-style: none;
}
.link {
  padding-top: 30px;
  padding-bottom: 30px;
}
.active {
  border-bottom: 2px solid #406836;
  padding-top: 2px;
  padding-bottom: 2px;
}
