@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed();
  gap: 30px;
  margin-bottom: 30px;
}
.inputContainer {
  @include flexed(null, space-between);
  flex-direction: column;
  width: 350px;
}
.label {
  @extend %adminLabel;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input {
  @extend %adminInput;
}
.wrapperImage {
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 5px;
}
.image {
  object-fit: cover;
}
.inputImage {
  display: none;
}

.textarea {
  @extend %adminInput;

  height: 55px;

  resize: none;
  font-family: '__Raleway_822793', '__Raleway_Fallback_822793';
  overflow: hidden;
}
