@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';

.item {
  overflow: hidden;
  transition: box-shadow getAnimation('animation'),
    transform getAnimation('animation');
  &:hover,
  :focus {
    box-shadow: getShadow('instagram-shadow');
    transform: scale(1.05);
    z-index: 320;
  }
}

.imageWrapper {
  position: relative;

  position: relative;
  padding: 0 0 100% 0;
}
.image {
  object-fit: cover;
}
