@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

// .wrapper {
//   position: relative;
//   &::before {
//     content: '';
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 100;

//     background-color: rgba(95, 57, 24, 0.7);
//   }
// }

.container {
  width: 1200px;
  background-color: getColor('white');
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}
.listText {
  margin-bottom: 57px;
}
.textContainer {
  color: getColor('text');

  font-size: 24px;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0em;
  text-align: left;
}
.textContainer:not(:last-child) {
  margin-bottom: 57px;
}

.textTitle {
  position: relative;
  margin-bottom: 57px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
}
.staffContainer {
  @include flexed(flex-start);
  flex-wrap: wrap;
  row-gap: 57px;
}
.staffItem {
  width: 300px;
  padding: 10px;
}
.imageWrapper {
  position: relative;

  width: 280px;
  height: 280px;
  margin-bottom: 10px;

  border-radius: 60px 60px 60px 0px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}
.staffTitle {
  position: relative;
  margin: 19px;
  color: getColor('text');
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    background-color: getColor('secondary');
  }
}
.information {
  margin-bottom: 10px;

  color: getColor('text');

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}
