@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  z-index: 300;
  @include mq(desk) {
    max-width: 1100px;
  }
  @include mq(bigDesk) {
    max-width: 1210px;
  }
}
.wrapperTitleHome {
  // margin-bottom: 24px;

  @include mq(mob-only) {
    position: absolute;
    width: 100vw;

    top: 37.5px;

    z-index: 600;
  }
  @include mq(tab) {
    position: relative;
    width: 1210px;
    margin-bottom: 54px;
    margin-left: 60px;
    z-index: 300;
  }
  @include mq(desk) {
    margin-left: 320px;
  }
}
.title {
  color: getColor('white');

  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  @include mq(desk) {
    font-size: 130px;
    line-height: 1;
  }
  @include mq(bigDesk) {
    font-size: 150px;
  }
}
.titleHome {
  color: getColor('white');

  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;

  @include mq(tab) {
    font-size: 72px;
    text-align: left;
  }
  @include mq(desk) {
    font-size: 84px;
  }

  @include mq(bigDesk) {
    font-size: 96px;
  }
}

.subtitle {
  color: getColor('white');

  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  @include mq(desk) {
    font-size: 64px;
  }
}
