@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.hero {
  position: relative;
  @include flexed(null, null);
  flex-direction: column;

  height: 1080px;
  padding: 225px 0;
  text-align: center;

  background-color: getColor('primary');
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient');
  }
}
.intro {
  position: relative;
  @include flexed(null, center);
  height: 1000px;
  padding-top: 365px;
  text-align: left;
  overflow: hidden;
  background-color: getColor('secondary');
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient-forest');
  }
}
.container {
  width: 820px;
  z-index: 300;
}

.sign {
  color: getColor('white');
  font-size: 64px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}
