@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.hero {
  position: relative;
  @include flexed(null, null);
  flex-direction: column;

  @include container-width(1920px);
  height: 1080px;
  padding: 225px 0;
  text-align: center;

  background-color: getColor('primary');
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient');
  }
}
.forest {
  position: relative;
  @include container-width(1920px);
  height: 1000px;
  text-align: center;
  overflow: hidden;
  background-color: getColor('secondary');
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    background-color: getColor('hero-gradient-forest');
  }
}
