@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.hero {
  position: relative;
  @include flexed(null, null);
  flex-direction: column;

  max-width: 1920px;
  max-height: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 175px 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: getColor('hero-gradient');
  }
}
.companyName {
  position: absolute;
  left: 0;
  top: 55px;

  color: getColor('hero-alliance');

  font-size: 340px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;

  z-index: 100;
}

.secondCompanyName {
  position: absolute;
  bottom: -60px;
  right: 0;

  color: getColor('hero-group-LLC');

  font-size: 200px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.1em;
}
.wrapperContent {
  @include flexed(null, null);
  flex-direction: column;

  margin-left: auto;
  margin-right: auto;
  width: 1280px;
  height: 574px;
  padding: 4px;

  z-index: 200;
}
.wrapperContent h2 {
  color: getColor('white');
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.3em;
  text-align: left;
}
.wrapperContent h3 {
  color: getColor('white');

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.3em;
  text-align: left;
}
.wrapperContent {
  color: getColor('white');
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
}
