@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';

.label {
  @extend %adminLabel;
}

.input {
  @extend %adminInput;
}

.inputImage {
  display: none;
}
.wrapperImageDesktop {
  @extend %adminWrapperImage;
  width: 950px;
  height: 495px;
}
.wrapperImageDesktopBefore {
  @extend %adminWrapperImageForestBefore;
  width: 950px;
  height: 495px;
}
.wrapperImageTablet {
  @extend %adminWrapperImage;
  width: 700px;
  height: 565px;
}
.wrapperImageTabletBefore {
  @extend %adminWrapperImageForestBefore;
  width: 700px;
  height: 565px;
}
.wrapperImageMobile {
  @extend %adminWrapperImage;
  width: 510px;
  height: 535px;
}
.wrapperImageMobileBefore {
  @extend %adminWrapperImageForestBefore;
  width: 510px;
  height: 535px;
}

.image {
  object-fit: cover;
}
