@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed();
  flex-direction: column;
  gap: 10px;
  @include mq(tab) {
    @include flexed(center, space-between);
    flex-direction: row;
  }
}
.btnWrapper {
  @include mq(tab) {
    @include flexed();
    flex-grow: 1;
    flex-basis: 33%;
    order: 2;
  }
}
.btnLeft {
  @include flexed(center, flex-start);
  gap: 12px;

  @include mq(mob-only) {
    align-self: flex-start;
  }
  @include mq(tab) {
    flex-grow: 1;
    flex-basis: 33%;
    order: 1;
  }
  color: getColor('secondary');

  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  & .circle {
    @extend %circle;

    background-image: getIcon('circle');
    transition: background-image getAnimation('animation');

    &:hover {
      background-image: getIcon('circle-hover');
    }
    & .arrowLeft {
      @extend %iconSmall;

      background-image: getIcon('arrow-left');
    }
  }
  &:hover {
    & .circle {
      background-image: getIcon('circle-hover');
    }
  }
}

.btnRight {
  @include flexed(center, flex-end);

  gap: 12px;

  @include mq(mob-only) {
    align-self: flex-end;
  }
  @include mq(tab) {
    flex-grow: 1;
    flex-basis: 33%;
    order: 3;
  }
  color: getColor('secondary');

  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  & .circle {
    @extend %circle;

    background-image: getIcon('circle');
    transition: background-image getAnimation('animation');

    &:hover {
      background-image: getIcon('circle-hover');
    }
    & .arrowRight {
      @extend %iconSmall;

      background-image: getIcon('arrow-right');
    }
  }
  &:hover {
    & .circle {
      background-image: getIcon('circle-hover');
    }
  }
  & .nameRight {
    text-align: end;
  }
}
