@import 'styles/_mixins.scss';

.container {
  @include flexed(null, null);
  overflow: auto;
}
.contentBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-left: 270px;
}
