@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';
@import 'styles/_mixins.scss';

.label {
  @extend %adminLabel;
}

.input {
  @extend %adminInput;
}

.inputImage {
  display: none;
}
.wrapperImageDesktop {
  @extend %adminWrapperImage;
  width: 950px;
  height: 535px;
}
.wrapperImageDesktopBefore {
  @extend %adminWrapperImageBefore;
  width: 950px;
  height: 535px;
}
.wrapperImageTablet {
  @extend %adminWrapperImage;
  width: 700px;
  height: 565px;
}
.wrapperImageTabletBefore {
  @extend %adminWrapperImageBefore;
  width: 700px;
  height: 565px;
}
.wrapperImageMobile {
  @extend %adminWrapperImage;
  width: 510px;
  height: 535px;
}
.wrapperImageMobileBefore {
  @extend %adminWrapperImageBefore;
  width: 510px;
  height: 535px;
}
.image {
  object-fit: cover;
}

.wrapperBtn {
  @include flexed(center, space-between);
}
