@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';

.form {
  width: 950px;
}

.label {
  @extend %adminLabel;
}

.input {
  @extend %adminInput;
}
.inputImage {
  display: none;
}
.wrapperImageDesktop {
  @extend %adminWrapperImage;
  width: 950px;
  height: 400px;
}
.wrapperImageDesktopBefore {
  @extend %adminWrapperImageBefore;
  width: 950px;
  height: 400px;
}
.wrapperImageTablet {
  @extend %adminWrapperImage;
  width: 700px;
  height: 280px;
}
.wrapperImageTabletBefore {
  @extend %adminWrapperImageBefore;
  width: 700px;
  height: 280px;
}
.wrapperImageMobile {
  @extend %adminWrapperImage;
  width: 510px;
  height: 160px;
}
.wrapperImageMobileBefore {
  @extend %adminWrapperImageBefore;
  width: 510px;
  height: 160px;
}
.image {
  object-fit: cover;
}
.button {
  width: 150px;
  padding: 8px 0;
  border: 1px solid black;
  &:hover {
    background-color: yellow;
  }
  &:active {
    background-color: pink;
  }
}
