@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
@import 'styles/_placeholder.scss';

.container {
  @include flexed();
  gap: 30px;
  margin-bottom: 30px;
}
.inputContainer {
  @include flexed(null, space-between);
  flex-direction: column;
  width: 350px;
}
.label {
  @extend %adminLabel;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input {
  @extend %adminInput;
}
.wrapperImage {
  position: relative;
  width: 550px;
  height: 365px;
  margin-top: 5px;
}
.image {
  object-fit: cover;
}
.inputImage {
  display: none;
}

.wrapperDescriptionBtn {
  @include flexed(center, space-evenly);
  margin-bottom: 30px;
}

.title {
  margin-bottom: 10px;
}
.galleryWrapper {
  @include flexed(center, flex-start);
  gap: 30px;
  margin-bottom: 30px;
}

.list {
  @include flexed(center, flex-start);
  gap: 30px;
}
.galleryImageWrapper {
  position: relative;
  width: 130px;
  height: 130px;
}

.iconDelete {
  position: absolute;

  left: 50%;
  top: 50%;
  @extend %icon;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background-image: getIcon('admin-delete-image');
  opacity: 0;
  transition: opacity getAnimation('animation');

  &:hover {
    opacity: 1;
  }
}

.inputWrapper {
  position: relative;
  width: 130px;
  height: 130px;
  border: 3px solid getColor('text');
}

.iconPlus {
  position: absolute;

  left: 50%;
  top: 50%;
  @extend %icon;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%);
  background-image: getIcon('admin-plus-image');
}
